form.selectForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
input, select {
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    width: 30vh;
    background-color: aliceblue;
    text-align: center;
    text-transform: uppercase;
}
