.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin: 2rem auto;
}
input, select {
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    width: 30vh;
    background-color: aliceblue;
    text-align: center;
    text-transform: uppercase;
}
h2.add {
    color: black;
}
