body {
    background-color: rgba(238, 163, 234, 0.24);
    letter-spacing: .2rem;

    .wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        min-width: 600px;
    }
}
